body {
  background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
}

h1, h2 {
  color: #0d6efd;
}

.table {
  background-color: #1e1e1e;
  color: white;
  margin-top: 20px;
}

#celebration {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: none;
}

#celebration img {
  max-width: 100%;
  height: auto;
}